<div>
  <header class="header">
    <!-- Top Header -->
    <div class="header__top">
      <div class="logo">ShopEase</div>
      <div class="search">
        <input type="text" placeholder="Search products..." />
      </div>
      <div class="actions">
        <a href="/profile" class="action-link">Profile</a>
        <a href="/cart" class="action-link cart"> Cart <span class="cart-count">2</span> </a>
      </div>
    </div>
    <!-- Bottom Header -->
    <nav class="header__bottom bg-gray-900">
      <ul class="category-menu">
        @for (category of categoryList; track $index) {
        <li>
          <a href="#">{{ category.name }}</a>
        </li>
        }
      </ul>
    </nav>
  </header>
</div>
